.full-screen-div {
  height: 100vh !important;
  min-height: 100vh !important; /*for mozilla*/
  width: 100%;
  border: 1px solid green;
  position: relative;
}

.block2 {
  width: 25%;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 10;
}

.block1 {
  height: 100%;
  width: 100%;
}

#peerDiv {
  height: 100% !important;
}

#peerVideo {
  min-width: 80%;
}

.local-video {
  width: 50%;
  float: right;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

@media only screen and (max-width: 768px) {
  .block2 {
    width: 50%;
  }

  .local-video-sm {
    justify-content: flex-end !important;
  }
}
